<div class="row mt-3">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <div class="card">
      <div class="card-body">
        <small class="text-muted">虚拟用户</small>
        <p class="card-text text-center fs-1"><%= VirtualUser.count %></p>
        <%= link_to "一览", virtual_users_path, class: "btn btn-primary btn-sm float-end" %>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div class="card">
      <div class="card-body">
        <small class="text-muted">当前计划数</small>
        <p class="card-text text-center fs-1">999</p>
        <%= link_to "创建", "#", class: "btn btn-primary btn-sm float-end" %>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>  
