<% breadcrumb :edit_user, @user %>

<% content_for :title, "编辑用户" %>

<div class="row mt-3">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3>编辑用户</h3>
      </div>
      <div class="card-body">
        <%= render 'form', 
            editing: true,
            submit_text: "更新用户",
            cancel_text: "取消",
            cancel_path: user_path(@user) %>
      </div>
    </div>
  </div>
</div> 