<div data-controller="toast" 
     data-toast-message-value="<%= notice %>"
     data-toast-type-value="notice">
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-toast-target="toast">
      <div class="toast-header">
        <strong class="me-auto">通知</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= notice %>
      </div>
    </div>
  </div>
</div>