<div class="row mt-3">
  <div class="col-12">
    <%= render @sites_pokermon %>
  </div>
</div>

<div>
  <%= link_to "Edit this pokermon", edit_sites_pokermon_path(@sites_pokermon) %> |
  <%= link_to "Back to pokermons", sites_pokermons_path %>

  <%= button_to "Destroy this pokermon", @sites_pokermon, method: :delete %>
</div>
