<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" data-controller="navbar">
  <div class="container-fluid">
    <%= link_to "Butomation", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" data-action="click->navbar#toggle" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" data-navbar-target="collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "控制台", root_path, aria: { current: "page" }, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "虚拟用户", virtual_users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">抽签计划</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">统计报表</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">设置</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>